
body {
    font-family: 'Inconsolata', monospace;
    background-image: linear-gradient(to bottom , #f0f0e1 , #ffffff)
    
    
}

section {
    display: flex;
    justify-content: space-around;
}

.container {
    display: block;
    text-align: center;
    height: 400px;
    width: 350px;
    border: 0.8px solid rgb(11, 188, 241);
   /* background-color: rgb(228, 253, 245);*/
   background-image: url("back.jfif");
    margin : 50px 50px;
    padding: 50px;
    box-shadow: 5px 5px 8px black;
    
}


.container #weather {
    font-size: 50px;
    color: yellow;
}

.container .info {
    margin-top: 90px;
}

.info h2 i {
    padding-right: 20px;
}
.temp {
    color: rgb(238, 31, 31);
    font-size: 40px;
}
.location {
    text-shadow: 0.8px 0.8px 2.2px rgb(7, 4, 4);
}

.extra  {
    margin-top: 200px;
    color: black;
}


@media screen and (max-width : 620px) {
    
    section {
        flex-direction: column;
    }

}